---
title: CAS - Canterbury Astronomical Society
---


<!-- START THE FEATURETTES -->

<div class="row featurette">
  <div class="col-md-7">
    <h2 class="featurette-heading">Outreach. <span class="text-muted">Discover the universe..</span></h2>
    <div id="events">Loading ...</div>
    <p class="lead">
      Outreach is an important part of the work carried out by CAS.  We hold
      regular public open nights during the winter months.  A visit to the
      observatory is a memorable experience for young and old alike.
    </p>
    <p>
      <%= link_to '<span class="glyphicon glyphicon-circle-arrow-right"></span> Learn more', '/open-nights/calendar.html', :class => 'btn btn-default' %>
    </p>
  </div>
  <div class="col-md-5">
    <%= image_tag 'outreach.jpg', :class => 'img-responsive img-rounded' %>
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-5">
    <%= image_tag 'society.jpg', :class => 'img-responsive img-rounded' %>
  </div>
  <div class="col-md-7">
    <h2 class="featurette-heading">
      The Society. <span class="text-muted">Join Us.</span>
    </h2>
    <p class="lead">
      Becoming a member of CAS is a great way to meet like minded astronomers
      and gives you access to a wide array of resources. 
      Whether you are new to the hobby or an old hand, CAS membership has a
      lot to offer.
    </p>
    <p>
      <%= link_to '<span class="glyphicon glyphicon-circle-arrow-right"></span> Learn more', '/society/index.html', :class => 'btn btn-default' %>
    </p>
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7">
    <h2 class="featurette-heading">
      The Observatory. <span class="text-muted">Get out under the stars.</span>
    </h2>
    <p class="lead">
      The jewel in the crown of the society, the R. F. Joyce Observatory is
      a unique facility in New Zealand, offering members and visitors access
      to an array of telescopes at a dark sky site just half an hour from
      Christchurch City.
    </p>
    <p>
      <%= link_to '<span class="glyphicon glyphicon-circle-arrow-right"></span> Learn more', '/observatory/index.html', :class => 'btn btn-default' %>
    </p>
  </div>
  <div class="col-md-5">
    <%= image_tag 'observatory.jpg', :class => 'img-responsive img-rounded' %>
  </div>
</div>

<hr class="featurette-divider">

<!-- /END THE FEATURETTES -->

<script type="text/javascript" src="/mustache.js"></script>

<script id="open_night_template" type="x-mustache-template">
  <div class="well">
    <h3>Open Night: {{ date }}
      <span class="label label-{{ label_class }}">{{ label_message }}</span>
    </h3>
    <p>
      {{ status_message }}
      <a class="btn btn-default btn-xs" href="{{ url }}">More info</a>
    </p>
  </div>
</script>

<script id="event_template" type="x-mustache-template">
  <div class="well">
    <h3>{{ date }} - {{ data.title }}</h3>
    <p>
      {{ data.description }}
      <a class="btn btn-default btn-xs" href="{{ url }}">More info</a>
    </p>
  </div>
</script>

<script type="text/javascript">
  function Event(data) {
    this.data = data;
    this.date = new Date(data.date);
  };

  Event.prototype.addLabelPropertiesTo = function(obj) {
    switch(this.data.go_ahead) {
      case true:
        obj['label_class'] = 'success';
        obj['label_message'] = 'Open';
        break;
      case false:
        obj['label_class'] = 'danger';
        obj['label_message'] = 'Closed';
        break;
      default:
        obj['label_class'] = 'default';
        obj['label_message'] = 'Stand by';
        break;
    }

    return obj;
  };

  Event.prototype.defaultStatusMessage = function() {
    if (this.data.go_ahead === true) {
      return 'The observatory is open tonight.';
    } else if(this.data.go_ahead === false) {
      return 'The observatory is closed tonight.';
    } else {
      return 'An update will be posted here by 6.30pm';
    }
  };

  Event.prototype.statusMessage = function() {
    if (this.data.status_message) {
      return this.data.status_message;
    } else {
      return this.defaultStatusMessage();
    }
  };

  Event.prototype.forTemplate = function() {
    var obj = {
      date: new Date(this.data.date).toDateString(),
      status_message: this.statusMessage(),
      data: this.data,
      url: this.data.url
    };
    this.addLabelPropertiesTo(obj);
    return obj;
  };

  Event.prototype.daysInMilliseconds = function(numberOfDays) {
    return numberOfDays * 86400000;
  };

  Event.prototype.showFromDate = function() {
    var daysInAdvance = this.data.show_days_in_advance || 6;
    return new Date(this.date.getTime() - (this.daysInMilliseconds(daysInAdvance)))
  };

  Event.prototype.isUpcoming = function(now) {
    return this.date >= now && this.showFromDate(now) <= now;
  };

  Event.upcoming = function(data) {
    var now = new Date();
    // TODO Add polyfills
    return data.map(function(obj) {
      return new Event(obj);
    }).filter(function(obj) {
      return obj.isUpcoming(now);
    }).sort(function(a, b) {
      return b.date - a.date;
    });
  };

  $((function($, Mustache, Event) {
    var templates = {
      'open_night': $('#open_night_template').html(),
      'event': $('#event_template').html()
    };
    Mustache.parse(templates.open_night);
    $('#events').html('');
    $.getJSON('/events.json', function(data) {
      $.each(Event.upcoming(data), function(index, e) {
        var template = templates[e.data.event_type];
        var rendered = Mustache.render(template, e.forTemplate());
        $('#events').append(rendered);
      });
    });
  })($, Mustache, Event));
</script>
