---
title: CAS - Canterbury Astronomical Society
---


<!-- START THE FEATURETTES -->

<div class="row featurette">
  <div class="col-md-7">
    <h2 class="featurette-heading">Outreach. <span class="text-muted">Discover the universe..</span></h2>
    <div class="well">
      <h3>Open Night: 11 Apr 2014 <span class="label label-success">Open</span></h3>
      <p>
      Sky conditions are great for tonigh&apos;s open night for the Flat Earth
      Society.
      </p>
    </div>
    <p class="lead">
    Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula
    porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque
    nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
    <%= link_to '<span class="glyphicon glyphicon-circle-arrow-right"></span> Learn more', '/open-nights/info.html', :class => 'btn btn-default' %>
    </p>
  </div>
  <div class="col-md-5">
    <%= image_tag 'outreach.jpg', :class => 'img-responsive img-rounded' %>
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-5">
    <%= image_tag 'society.jpg', :class => 'img-responsive img-rounded' %>
  </div>
  <div class="col-md-7">
    <h2 class="featurette-heading">
      The Society. <span class="text-muted">Join Us.</span>
    </h2>
    <p class="lead">
      Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula
      porta felis euismod semper. Praesent commodo cursus magna, vel
      scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
      <%= link_to '<span class="glyphicon glyphicon-circle-arrow-right"></span> Learn more', '/society/index.html', :class => 'btn btn-default' %>
    </p>
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7">
    <h2 class="featurette-heading">
      The Observatory. <span class="text-muted">Dometastic.</span>
    </h2>
    <p class="lead">
      Donec ullamcorper nulla non metus auctor fringilla.  Vestibulum id ligula
      porta felis euismod semper. Praesent commodo cursus magna, vel
      scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
      <%= link_to '<span class="glyphicon glyphicon-circle-arrow-right"></span> Learn more', '/observatory/index.html', :class => 'btn btn-default' %>
    </p>
    </p>
  </div>
  <div class="col-md-5">
    <%= image_tag 'observatory.jpg', :class => 'img-responsive img-rounded' %>
  </div>
</div>

<hr class="featurette-divider">

<!-- /END THE FEATURETTES -->

